/*========================
Declare variables for page
=========================*/
:root {
  /*color scheme*/

  /*font*/
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/*reset default font - never shall Time New Roman be seen agan!*/

h1,
h3,
h5,
p,
li,
code {
}

/*================
Layout
=================*/

/*================
Nav Menu Bar
=================*/

.nav-bar {
}

/*================
Extra Font Styling
=================*/

/*================
Section Styling
=================*/

/*=====
Footer
======*/

/*==========
Link styles
===========*/

/*================
The little touches
=================*/

/*In case of image not found*/

/*Back to top*/

/*=============
Accessibility
===============*/

/*Remove animation on browser prference*/


/*=============
Responsiveness
===============*/

/*Media queries for portable screen views - tablets and phones*/


/*====
Print
=====*/
