/*========================
Declare variables for page
=========================*/
:root {
  /*color scheme*/

  /*text-light*/
  /*text-dark*/
  /**/
  /*codebox-background*/
  /**/

  /*font*/
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 100%; /*100% = 16px*/
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/*============
Text and Fonts
===============*/

/*reset default font - never shall Time New Roman be seen again as a fallback!*/
h1,
h3,
h5,
p,
li {
  font-family: Verdana, sans-serif;
}

/*=====
Layout
======*/

/*single column layout for small screens and two column layout for larger screens (over 1024px)*/
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "navbar"
    "content"
    "footer";
  grid-gap: 0;
}

/*layout test*/
body {
  border: solid 3px purple;
}

#top {
  border: solid 3px yellow;
}

nav {
  border: solid 3px blue;
}

main {
  border: solid 3px green;
}

.container-box {
  border: solid 3px grey;
}

.container-header {
  border: solid 3px teal;
}

.container-box-content {
  border: solid 3px orange;
}

.container-box-content-list {
  border: solid 3px lavender;
}

.container-box-content-subsection {
  border: solid 3px seagreen;
}

footer {
  border: solid 3px red;
}

/*End of layout test boxes*/

/*================
Header
=================*/
#top {
  grid-area: header;
}

/*================
Nav Menu Bar
=================*/
nav {
  grid-area: navbar;
}

.nav-bar {
}

.nav-button-outer {
}

.nav-button-inner {
}

/*============================
Main section layout and styles
=============================*/

main {
  grid-area: content;
}

/*================
Section Styling
=================*/
.container-box {
}

.container-header {
}

.container-box-content {
}

.container-box-content-list {
}

.container-box-content-subsection {
}

.code-value-list {
}

/*================
Extra Font Styling
=================*/

/*text stands out visually but not to be read differently on screenreader */
.highlighter {
  font-style: italic;
}

.list-caption {
}

/*===================
Code Snippet styling
===================*/
.code-word {
}

.code-box {
}

/*========================
Code Illustration styling
=======================*/
/*figure to contain the example illustrations*/
.flex-examples {
}

/*figcaption to label the property and value set in illustration*/

.flex-examples figcaption {
}

/*container box for flex examples*/
.example-container {
  width: 250px;
  height: 150px;
  border: solid black 3px;
  background-color: grey;
}

/*child item for flex examples*/
.example-child {
  width: 75px;
  height: 45px;
  border: solid 1px var(--text-light, white);
  background-color: purple;
  color: var(--text-light, white);
  text-align: center;
  line-height: 45px;
}

/*child item for flex examples when differing heights needed*/
.example-child-small {
  height: 25px;
  line-height: 25px;
}

.example-child-medium {
  height: 50px;
  line-height: 50px;
}

.example-child-large {
  height: 75px;
  line-height: 75px;
}

.example-child-noheight {
  width: 75px;
  border: solid 1px var(--text-light, white);
  background-color: purple;
  color: var(--text-light, white);
  text-align: center;
}
/*flex default*/
.example-set-flex {
  display: flex;
}

/*flex-direction examples*/

.example-set-direction-column {
  display: flex;
  flex-direction: column;
}

.example-set-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.example-set-direction-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

/*flex-wrap examples - resize container to be smaller*/

.example-set-nowrap {
  display: flex;
  width: 150px;
  height: 150px;
  border: solid black 3px;
  background-color: grey;
}

.example-set-wrap {
  display: flex;
  width: 150px;
  height: 150px;
  border: solid black 3px;
  background-color: grey;
  flex-wrap: wrap;
}

.example-set-wrap-reverse {
  display: flex;
  width: 150px;
  height: 150px;
  border: solid black 3px;
  background-color: grey;
  flex-wrap: wrap-reverse;
}

/*justify-content examples*/

.example-set-justify-content-start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.example-set-justify-content-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.example-set-justify-content-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.example-set-justify-content-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.example-set-justify-content-around {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.example-set-justify-content-evenly {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

/*align-items examples*/

.example-set-align-items-start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.example-set-align-items-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

.example-set-align-items-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.example-set-align-items-stretch {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.example-set-align-items-baseline {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: baseline;
}

/*=====
Footer
======*/
footer {
  grid-area: footer;
}

/*==========
Link styles
===========*/

/*================
The little touches
=================*/

/*In case of image not found*/

/*Back to top*/

/*=============
Accessibility
===============*/

/*Remove animation on browser prference*/

/*=============
Responsiveness
===============*/

/*Media queries for larger screens - laptops and monitors*/

@media only screen and (min-width: 1024px) {
  body {
    grid-template-columns: 25% 1fr;
    grid-template-areas:
      "header header"
      "navbar content"
      "navbar content"
      "footer footer";
  }
}

/*====
Print
=====*/
