/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/*========================
Declare variables for page
=========================*/
:root {
  /*font and text*/
  --header-text-font: Grandstander, "Trebuchet MS", cursive;
  --text-font: Gudea, Verdana, sans-serif;
  --code-font: "Roboto Mono", monospace;
}

/*============
Text and Fonts
===============*/

/*reset default font - never shall Time New Roman be seen again as a fallback!*/
h1,
h3,
h5,
p,
li {
  font-family: Verdana, sans-serif;
}

/*=====
Layout
======*/

/*single column layout for small screens and two column layout for larger screens (over 1024px)*/
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "navbar"
    "content"
    "footer";
  grid-gap: 0;
  /*background gradient fade from purple to teal*/
  background: linear-gradient(
    60deg,
    #006466,
    #065a60,
    #0b525b,
    #144552,
    #1b3a4b,
    #212f45,
    #272640,
    #312244,
    #3e1f47,
    #4d194d
  );
  color: white;
}

/*================
Header
=================*/
#top {
  grid-area: header;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 0.4rem;
  margin-bottom: 0.6rem;
}

h1 {
  text-align: center;
  font-family: var(--header-text-font);
  font-size: 2.6rem;
  line-height: 125%;
  text-shadow: -0.1rem -0.1rem 0.3rem black, 0.2rem 0.2rem 0.3rem black;
  margin: 0.4rem;
  padding: 0.8rem;
}

/*================
Nav Menu Bar
=================*/
nav {
  grid-area: navbar;
  width: 100%;
  position: relative;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0 0.8rem;
}

#nav-bar li a {
  text-decoration: none;
  color: white;
  line-height: 200%;
  font-family: var(--header-text-font);
  text-shadow: -0.1rem -0.1rem 0.3rem black, 0.2rem 0.2rem 0.3rem black;
}

.nav-button-outer {
  border-bottom: solid 0.1rem;
  margin: 0.6rem 0;
}

.nav-button-inner {
  padding-left: 0;
}

.nav-button-inner:hover a {
  padding-left: 10%;
  transition: all 1s;
}

/*============================
Main section layout and styles
=============================*/

main {
  grid-area: content;
  width: 100%;
}

/*================
Section Styling
=================*/
.container-box {
  width: 95%;
  margin: 1.4rem auto;
  padding: 0.2rem;
  border-left: solid 0.2rem;
}

.container-header {
  margin: 0 0.4rem;
  padding: 0 0.2rem 0.4rem;
  border-bottom: solid 0.2rem;
}

h3 {
  font-family: var(--header-text-font);
  font-size: 1.8rem;
  text-shadow: 0.2rem 0.2rem 0.3rem black;
}

.container-box-content {
  padding: 0.4rem 0.6rem 0;
}

.container-box-content-list {
  margin: 0.4rem;
  padding: 0.4rem;
  list-style: none;
}

.container-box-content-list li {
  margin: 0.6rem 0;
}

.container-box-content-subsection {
  margin-left: 1.2rem;
  padding-top: 1rem;
}

.container-box-content-subsection h5 {
  font-size: 1.4rem;
  text-shadow: 0.2rem 0.2rem 0.3rem black;
  margin-bottom: 0.6rem;
  border-bottom: dotted 0.1rem;
}

.container-box-content-subsection p {
  margin-bottom: 0.4rem;
}

.code-value-list {
  list-style: none;
  padding: 0;
  margin: 0.8rem 0;
}

/*================
Extra Font Styling
=================*/

/*text stands out visually but not to be read differently on screenreader */
.highlighter {
  font-style: italic;
}

.list-caption {
  text-decoration: underline;
  line-height: 125%;
  font-family: var(--header-text-font);
  font-size: 1.6rem;
  margin-top: 1rem;
}

.container-box-content-list li a {
  color: white;
  text-decoration: none;
  border-left: solid 0.2rem;
  padding-left: 0.4rem;
}
/*===================
Code Snippet styling
===================*/
.code-word {
  font-family: var(--code-font);
  font-style: italic;
}

.code-box {
  display: inline-block;
  margin: 0.8rem 0;
  padding: 0.4rem;
  background-color: black;
  border: solid 1px black;
  border-radius: 0.8rem;
}

.code-box pre {
  font-family: var(--code-font);
}

/*========================
Code Illustration styling
=======================*/
/*figure to contain the example illustrations*/
.flex-examples {
  margin: 0.6rem 0;
}

/*figcaption to label the property and value set in illustration*/

.flex-examples figcaption {
  margin: 0.4rem 0;
  font-style: italic;
  font-family: var(--text-font);
  font-size: 1.2rem;
  text-decoration: underline;
}

/*Text description for additional explanation to the info in the caption*/
.flex-examples-info {
  padding-bottom: 0.4rem;
}

/*container box for flex examples*/
.example-container {
  width: 250px;
  height: 150px;
  border: solid black 3px;
  background-color: grey;
}

/*child item for flex examples*/
.example-child {
  width: 75px;
  height: 45px;
  margin: 1px;
  border: solid 1px white;
  background-color: black;
  color: white;
  font-family: var(--code-font);
  text-align: center;
  line-height: 45px;
}

/*child item for flex examples when differing heights needed*/
.example-child-small {
  height: 25px;
  line-height: 25px;
}

.example-child-medium {
  height: 50px;
  line-height: 50px;
}

.example-child-large {
  height: 75px;
  line-height: 75px;
}

.example-child-noheight {
  width: 75px;
  margin: 1px;
  border: solid 1px white;
  background-color: black;
  color: white;
  font-family: var(--code-font);
  text-align: center;
}

.example-child-width {
  margin: 1px;
  border: solid 1px white;
  background-color: black;
  color: white;
  font-family: var(--code-font);
  text-align: center;
}

/*flex default*/

.example-set-flex {
  display: flex;
}

/*flex-direction examples*/

.example-set-direction-column {
  display: flex;
  flex-direction: column;
}

.example-set-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.example-set-direction-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

/*flex-wrap examples - resize container to be smaller*/

.example-set-nowrap {
  display: flex;
  width: 150px;
  height: 150px;
  border: solid black 3px;
  background-color: grey;
}

.example-set-wrap {
  display: flex;
  width: 150px;
  height: 150px;
  border: solid black 3px;
  background-color: grey;
  flex-wrap: wrap;
}

.example-set-wrap-reverse {
  display: flex;
  width: 150px;
  height: 150px;
  border: solid black 3px;
  background-color: grey;
  flex-wrap: wrap-reverse;
}

/*justify-content examples*/

.example-set-justify-content-start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.example-set-justify-content-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.example-set-justify-content-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.example-set-justify-content-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.example-set-justify-content-around {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.example-set-justify-content-evenly {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

/*align-items examples*/

.example-set-align-items-start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.example-set-align-items-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

.example-set-align-items-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.example-set-align-items-stretch {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.example-set-align-items-baseline {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: baseline;
}

/*align-content examples*/

.example-set-align-content-start {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.example-set-align-content-end {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-end;
}

.example-set-align-content-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}

.example-set-align-content-stretch {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: stretch;
}

.example-set-align-content-space-between {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.example-set-align-content-space-around {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.example-set-align-content-space-evenly {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

/*flex order examples*/

.example-set-order {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}
#flex-example-order-a {
  order: 2;
}

#flex-example-order-b {
  order: 3;
}

#flex-example-order-c {
  order: 1;
}

/*flex grow examples*/
.example-set-grow {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

#flex-example-grow-a {
  flex-grow: 0;
}

#flex-example-grow-b {
  flex-grow: 2;
}

#flex-example-grow-c {
  flex-grow: 1;
}

/*flex grow examples*/
.example-set-basis {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

#flex-example-basis-a {
  flex-grow: 1;
}

#flex-example-basis-b {
  flex-grow: 1;
  flex-basis: 100px;
}

#flex-example-basis-c {
  flex-grow: 1;
}

/*align-self examples*/

#flex-example-align-self {
  align-self: flex-end;
}
/*=====
Footer
======*/
footer {
  grid-area: footer;
  border-top: solid 0.4rem;
  position: relative;
}

#all-about-me {
  padding: 0.4rem;
  text-align: center;
  line-height: 150%;
}

#all-about-me p:first-of-type {
  margin-bottom: 1rem;
}

/* Link styles */

footer a {
  font-size: 2rem;
  padding: 0.4rem;
}

footer a {
  color: black;
}

footer a:link {
  opacity: 1;
}

footer a:visited {
  opacity: 0.35;
}

footer a:focus {
  opacity: 0.5;
}

footer a:hover {
  opacity: 0.8;
}

footer a:active {
  opacity: 0.5;
}

/*================
The little touches
=================*/

/*Back to top - only for mobile screen views*/
.backtotop {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  padding: 0.4rem;
}

/*=============
Accessibility
===============*/

@media (prefers-reduced-motion) {
  /*remove animation for sliding menu buttons*/
  .nav-button-inner:hover a {
    padding-left: 0;
  }
}

/*=============
Responsiveness
===============*/

/*Media queries for larger screens - laptops and monitors*/

@media only screen and (min-width: 1024px) {
  body {
    grid-template-columns: 25% 1fr;
    grid-template-areas:
      "header header"
      "navbar content"
      "navbar content"
      "footer footer";
    font-size: 16px;
  }

  /*nav-bar stays on side view*/
  #nav-bar {
    position: sticky;
    top: 0;
  }

  /*not needed on this view as have side-menu always available*/
  .backtotop {
    display: none;
  }
}

/*====
Print
=====*/
@media print {
  /*reset colours to plain black and white*/
  body * {
    background-color: none;
    color: black;
    border-left: none;
  }

  /*font size - change px to pt*/
  h1 {
    font-size: 18pt;
    text-shadow: none;
  }

  h3 {
    font-size: 16pt;
  }

  h5 {
    font-size: 14pt;
  }

  p,
  li,
  code pre {
    font-size: 12pt;
  }

  figcaption,
  abbr {
    font-size: 10pt;
  }

  /*remove unneeded elements*/
  nav {
    display: none;
  }

  /*Layout - single column*/
}
